@model PurchaseOrder

<div class="content row">
	<div class="col-7 align-self-start">
		@foreach (var order in Model.Orders)
		{
			<div class="card mb-2">
				<div class="card-body row px-4">
					<div class="row col-9 align-self-start">
						<h5><strong>@order.SparePart!.Name</strong></h5>
						<p><strong>Amount: </strong>@order.Amount</p>
						<p><strong>Price: </strong>$@(order.Amount * order.SparePart!.Price)</p>
					</div>
					<div class="row col align-self-center">
						@if (ViewBag.Warnings.Contains(order.SparePart!.Name))
						{
							<div>
								<p class="text-danger"><i class="bi bi-exclamation-triangle-fill"></i> There is not enough stock.</p>
							</div>
						}
						<form asp-action="RemoveFromCart" asp-route-sparePartId="@order.SparePartId" class="col">
							<button type="submit" class="btn btn-danger w-100">Delete</button>
						</form>
					</div>
				</div>
			</div>
		}
	</div>

	<div class="card col-5 align-self-start">
		<div class="input-group mt-3">
			<span class="input-group-text">Name</span>
			<span type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" readonly>@Model.Client.Name</span>
		</div>
		<br />
		<div class="input-group my-3">
			<span class="input-group-text">Total</span>
			<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="@Model.Orders.Sum(o => o.Amount * o.SparePart!.Price)" readonly>
			<span class="input-group-text">$</span>
		</div>
		@if (Model!.Orders.Count > 0)
		{
			<form asp-action="Buy">
				<div class="form-group mb-3">
					<button type="submit" class="btn btn-success @(ViewBag.Warnings.Count > 0 ? "disabled" : "")">
						@if (ViewBag.Warnings.Count > 0)
						{
							<i class="bi bi-exclamation-triangle-fill"></i>
						}
						Buy
					</button>
				</div>
			</form>
		}
	</div>
</div>
