@model IEnumerable<SPSModels.Models.SparePart>

@{
    ViewData["Title"] = "Index";
}

<div class="content">
    <h1>Inventory</h1>

    <p>
        <a asp-action="Create">Add New</a>
    </p>

    <div>
        <label for="filterByCategory" class="mb-2">Filter by Category:</label>
        <select id="filterByCategory" class="form-control">
            <option value="">All</option>
            @foreach (var category in ViewBag.CategoryId)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <table id="inventory" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr category-id="@item.CategoryId">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>