@model IEnumerable<SparePart>

@{
	ViewData["Title"] = "Home Page";
}

<div class="content">
	<div class="text-center">
		<h1 class="display-4 text-center" style="font-weight: 700; font-family: 'Roboto', sans-serif; color: #333;">
			Welcome to <span class="text-primary" >SpareParts Store</span>
		</h1>

		<div class="row justify-content-center mt-4">
			<div id="carouselExampleIndicators" class="carousel slide col-9" style="height: 500px">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="https://th.bing.com/th/id/R.15186e32eb01a6ad566a23fc60acd7b5?rik=M7Yqli2BwQPgag&riu=http%3a%2f%2fdata.1freewallpapers.com%2fdownload%2falfa-romeo-v8-engine.jpg&ehk=13PJ4Oq1QZHZXu8sQKoLkuPPTrkUUq0gaNjGvuPQe10%3d&risl=&pid=ImgRaw&r=0" class="carousel-image" alt="...">
						<div class="carousel-caption ">
							<h5><strong>Engine</strong></h5>
							<p>Camshaft, Crankshaft, etc.</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="https://www.ford.mx/content/dam/Ford/website-assets/latam/mx/open-graph/2023/blog/experto/ford-blog-radiador-correcto-funcionamiento-enfriamiento-motor-auto.jpg" class="carousel-image" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h5><strong>Car refrigeration</strong></h5>
							<p>Water pumps, Air pumps, Radiator, etc.</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="https://th.bing.com/th/id/R.fcafa45cb3e53fefe71a85bc498b6ed7?rik=xU92Ii1XQVV0gA&pid=ImgRaw&r=0" class="carousel-image" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h5><strong>Brakes</strong></h5>
							<p>Brake disc, Brake pad, etc.</p>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

		<p class="nanum-gothic-regular mt-4 text-black">SEE OUR CATALOG</p>

		@if (Model != null && Model.Any())
		{
			<div class="row text-start justify-content-start">
				<label for="filterByCategoryCard" class="align-self-center col-auto">Filter by Category:</label>
				<div class="col-3">
					<select id="filterByCategoryCard" class="border-success border-3 form-control">
						<option value="">All</option>
						@foreach (var category in ViewBag.CategoryId)
						{
							<option value="@category.Id">@category.Name</option>
						}
					</select>
				</div>
			</div>

			<div class="row row-cols-5 g-4 my-2">
				@foreach (var item in Model)
				{
					<div>
						<div class="card" data-category-id="@item.CategoryId">
							<div class="card-body">
								<img src="@Html.DisplayFor(modelItem => item.Image)" class="image-spareparts">
								<header class="nanum-gothic-regular-20px">@Html.DisplayFor(modelItem => item.Name)</header>
								<header>@Html.DisplayFor(modelItem => item.Category!.Name)</header>
							</div>
							<div class="card-footer p-4">
								<a href="~/SparePart/Details/@item.Id" class="btnDetails">More Details</a>
							</div>
						</div>
					</div>
				}
			</div>
		}
		else
		{
			<div class="row justify-content-center text-center mt-3">
				<p>The stock is empty.</p>
			</div>
		}
	</div>
</div>

